.p-dis{
  display: flex;
  margin: 0px 30px;
  margin-top: 20px;
}
.p-dis-left{
  display: flex;
  gap: 17px;
}
.p-dis-img-list{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.p-dis-img-list img{
  height: 96px;
}
.p-dis-main-img{
  width: 300px;
  height: 320px;
}
.p-dis-right{
  margin: 0px 70px;
  display: flex;
  flex-direction: column;
}
.p-dis-right h1{
  color: #3d3d3d;
  font-size: 28px;
  font-weight: 600;
}
.p-dis-right-stars{
  display: flex;
  align-items: center;
  margin-top: 13px;
  gap: 5px;
  color: #1c1c1c;
  font-size: 16px;
}
.p-dis-right-stars img{
  height: 30px;
  width: 30px;
}
.p-dis-right-stars p {
  font-size: 18px;
}
.p-dis-right-prices{
  display: flex;
  margin: 30px 0px;
  gap: 30px;
  font-weight: 600;
}
.p-dis-right-price-old{
  font-size: 20px;
  color: #818181;
  text-decoration: line-through;
}
.p-dis-right-new{
  font-size: 20px;
}
.p-dis-right button{
  padding: 20px 40px;
  width: 168px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: hsl(0, 100%, 63%);
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.p-dis-right button:hover{
  background: hsl(0, 100%, 43%);
}
.back-button{
  padding: 20px 15px 15px 30px;
  width: 130px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  color: #da3b8a;
  margin-bottom: 20px;
  background: hsl(0, 0%, 89%);
}
.back-button:hover{
  background-color: hsl(0, 0%, 59%);
  color: red;
}
@media (max-width: 600px) {
  .p-dis {
    flex-direction: column;
    margin: 20px;
    align-items: center;
  }

  .p-dis-left {
    flex-direction: column;
    align-items: center;
  }

  .p-dis-img-list {
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .p-dis-img-list img {
    height: 60px;
    width: auto;
  }

  .p-dis-main-img {
    width: 100%;
    max-width: 250px;
    height: auto;
  }

  .p-dis-right {
    margin: 30px 0;
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .p-dis-right h1 {
    font-size: 22px;
  }

  .p-dis-right-stars img {
    height: 22px;
    width: 22px;
  }
  .p-dis-right-stars p {
    font-size: 14px;
  }
  .p-dis-right-prices {
    align-items: center;
    gap: 25px;
  }
  .p-dis-right-price-old{
    font-size: 18px;
  }
  .p-dis-right-new{
    font-size: 18px;
  }
  .p-dis-right-desc {
    font-size: 16px;
  }

  .p-dis-right button {
    width: 60%;
    font-size: 16px;
  }

  .back-button {
    width: 40%;
    font-size: 16px;
  }
}
