.service-page{
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px;
  padding-bottom: 100px;
  max-width: 1200px;
  margin: auto;
  box-sizing: border-box;
  overflow-x: hidden;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
}
.service-page h1{
  font-size: 30px;
  font-weight: 600;
  align-items: center;
  text-align: center;
}
.service-page h3{
  font-size: 22px;
  font-weight: 600;
  font-style: italic;
  align-items: center;
  text-align: center;
}
.service-desc{
  font-size: 26px;
  margin: 10px;
  font-weight: 300;
  color: hsl(0, 3%, 28%);
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  max-width: 95%;
  line-height: 1.2;
  align-items: center;
  text-align: center; 
}
.services-types{
  margin-top: 30px;
  margin-bottom: 30px;
  height: 50px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.services-wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
  width: 100%;
}

@keyframes move {
  20%{
     transform: translateY(-50px);
  }
  40%{
    transform: translateY(-100px);
  }
  60%{
    transform: translateY(-150px);
  }
  80%{
    transform: translateY(-200px);
  }
  100%{
    transform: translateY(-250px);
  }
  120%{transform: translateY(-300px);
  }
}
.services-offer{
  line-height: 50px;
  white-space: nowrap;  
  /* overflow: hidden;    */
  text-overflow: ellipsis;
  box-sizing: border-box;
  padding: 0 10px; 
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #da3b8a;
  text-align: center;
}
@media (max-width: 600px) {
  .services-offer {
    font-size: 17px; /* Adjust font for smaller screens */
  }
}
.services-page-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 15px;
  gap: 30px;
  align-items: center;
  text-align: center;
}
@media (max-width: 1024px) {
  .services-page-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .services-page-list {
    grid-template-columns: 1fr;
  }
  .service-page h1 {
    font-size: 16px;
  }
  .service-page h3 {
    font-size: 18px;
  }
  .service-desc {
    font-size: 18px;
  }
}

.services-page-list img{
  height: 280px;
  width: 100%;
  object-fit: cover;
  max-width: 220px;
}
