.popular{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 100%;
}
.popular h1{
  font-size: 28px;
  font-weight: 500;
  margin-top: 15px;
  align-items: center;
}
.popular hr{
  width: 200px;
  height: 1px;
  border-radius: 10px;
  background-color: #252525;
  margin: 5px 0;
}
.popular-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 20px;
  margin-bottom: 15px;
  gap: 3rem;
  align-items: center;
  text-align: center;
}

@media (max-width: 1024px) {
  .popular-list {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
}

@media (max-width: 600px) {
  .popular-list {
    grid-template-columns: 1fr;
  }
}

